* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  scroll-behavior: smooth;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.hero span {
  color: #facc15;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #facc15;
}

/* SECTIONS */
.section {
  padding: 100px 60px;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.alt {
  background: #1e293b;
}

/* SKILLS */
.skill {
  margin: 20px 0;
}

.progress {
  width: 60%;
  margin: auto;
  background: #334155;
  border-radius: 20px;
}

.progress-bar {
  height: 10px;
  width: 0;
  background: #facc15;
  border-radius: 20px;
  transition: 1s;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #334155;
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
}

.project-card:hover {
  transform: rotateY(10deg) scale(1.05);
  background: #2563eb;
}

.btn-small {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #0f172a;
}